= form.label(:name)
= form.text_field(:name)
= form.label(:description)
%p.description Optional
= form.text_field(:description)
= form.label(:price, 'Price ($)')
= form.text_field(:price, value: number_with_precision(@item.price, precision: 2))
= form.label(:order_options, 'Order options')
%p.description If you only have either delivery or takeout enabled for this location and the below option is opposing, the item will not be available.
= form.select(:order_options, ItemsHelper::order_options)
- if current_user.option_groups.count > 0
  %fieldset
    %legend Available options
    %p.description Customers can specify item extras according to the option groups selected below
    .checkbox-list
      - for option_group in current_user.option_groups.order('name ASC')
        %label
          = check_box_tag 'item[option_group_ids][]', option_group.id, @item.option_groups.include?(option_group)
          %span
            = option_group.name
%button.full-width{ type: 'submit' }
  - if form.object.new_record?
    %i.icon-plus Create item
  - else
    %i.icon-edit Save changes