= form.label(:login)
%p.description This username will be used to login to the restaurant control panel
= form.text_field(:login)
= form.label(:password)
- if !form.object.new_record?
  %p.description Optional (only set to change password)
= form.password_field(:password)
= form.label(:password_confirmation)
- if !form.object.new_record?
  %p.description Optional (only set to change password)
= form.password_field(:password_confirmation)
= form.label(:address)
= form.text_field(:address)
= form.label(:city)
= form.text_field(:city)
= form.label(:state)
= form.select(:state, LocationsHelper::us_states)
= form.label(:zip_code)
= form.text_field(:zip_code)
= form.label(:timezone)
= form.time_zone_select(:timezone, ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)")
= form.label(:phone)
= form.text_field(:phone)
= form.label(:website)
%p.description Optional
= form.text_field(:website)
= form.label(:sales_tax, 'Sales tax (%)')
= form.text_field(:sales_tax)
= form.label(:minimum_total, 'Minimum order subtotal ($)')
= form.text_field(:minimum_total, value: number_with_precision(@location.minimum_total, precision: 2))
%label Typical hours
.time-opt
  %span.time-label Sunday
  = form.time_select(:time_open_sunday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %span.time-to to
  = form.time_select(:time_close_sunday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %label.time-check
    = form.check_box(:closed_sunday)
    Closed
.time-opt
  %span.time-label Monday
  = form.time_select(:time_open_monday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %span.time-to to
  = form.time_select(:time_close_monday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %label.time-check
    = form.check_box(:closed_monday)
    Closed
.time-opt
  %span.time-label Tuesday
  = form.time_select(:time_open_tuesday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %span.time-to to
  = form.time_select(:time_close_tuesday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %label.time-check
    = form.check_box(:closed_tuesday)
    Closed
.time-opt
  %span.time-label Wednesday
  = form.time_select(:time_open_wednesday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %span.time-to to
  = form.time_select(:time_close_wednesday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %label.time-check
    = form.check_box(:closed_wednesday)
    Closed
.time-opt
  %span.time-label Thursday
  = form.time_select(:time_open_thursday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %span.time-to to
  = form.time_select(:time_close_thursday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %label.time-check
    = form.check_box(:closed_thursday)
    Closed
.time-opt
  %span.time-label Friday
  = form.time_select(:time_open_friday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %span.time-to to
  = form.time_select(:time_close_friday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %label.time-check
    = form.check_box(:closed_friday)
    Closed
.time-opt
  %span.time-label Saturday
  = form.time_select(:time_open_saturday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %span.time-to to
  = form.time_select(:time_close_saturday, {combined: true, time_separator: '', minute_step: 15}, class: 'time')
  %label.time-check
    = form.check_box(:closed_saturday)
    Closed

= form.label(:order_options, 'Order options')
= form.select(:order_options, LocationsHelper::order_options)
#_location_delivery_options
  = form.label(:delivery_fee_type, 'Delivery fee calculation mode')
  = form.select(:delivery_fee_type, LocationsHelper::delivery_fee_types)
  = form.label(:delivery_fee, 'Fixed delivery fee ($)')
  = form.text_field(:delivery_fee, value: @location.delivery_fee_type == 'percent' ? @location.delivery_fee : number_with_precision(@location.delivery_fee, precision: 2))
  = form.label(:max_distance, 'Delivery distance radius (miles)')
  %p.description We won't allow deliveries outside a specified radius from your restaurant
  = form.text_field(:max_distance)
%button.full-width{ type: 'submit' }
  - if form.object.new_record?
    %i.icon-plus Create location
  - else
    %i.icon-edit Save changes
:javascript
  function updateDeliveryFeeLabel() {
    var newText;

    switch ($('#location_delivery_fee_type').val()) {
      case 'fixed':
        newText = 'Delivery fee ($)';
        break;

      case 'percent':
        newText = 'Delivery fee (%)';
        break;

      case 'distance':
        newText = 'Delivery fee ($/mile)';
        break;
    }

    $('label[for=\'location_delivery_fee\']').text(newText);
  }

  function updateDeliveryOptions() {
    if ($('#location_order_options').val() == 'takeout') {
      $('#_location_delivery_options').hide();
    } else {
      $('#_location_delivery_options').show();
    }
  }

  $(document).ready(updateDeliveryFeeLabel);
  $(document).ready(updateDeliveryOptions);

  $('#location_order_options').change(function(event) {
    updateDeliveryOptions();
  });

  $('#location_delivery_fee_type').change(function(event) {
    updateDeliveryFeeLabel();
  });