!!!
%html
  %head
    %meta{ charset:'utf-8' }
    %meta{ author: 'Skytroniks' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
    = # %link{ href: 'favicon.ico', rel: 'shortcut icon' }
    = # %link{ href: 'apple-touch-icon.png', rel: 'apple-touch-icon' }
    = # %link{ href: 'apple-touch-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72' }
    = # %link{ href: 'apple-touch-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114' }
    %title= @title
    = stylesheet_link_tag('application')
    = javascript_include_tag('application')
  %body
    .container
      %header.sixteen.columns.alpha
        .eight.columns.alpha
          %h1= link_to(svg_tag('logo', 'Waitstaff'), root_path)
        %nav.eight.columns.omega
          %ul
            - if current_user
              %li
                = link_to(user_session_path, :method => :delete) do
                  %i.icon-logout Logout
            - else
              %li
                %a{ href: new_account_path }
                  %i.icon-user Register
              %li
                %a{ href: new_user_session_path }
                  %i.icon-login Login
      - if !flash.empty?
        .sixteen.columns
          %ul
            - flash.each do |key, msg|
              %li
                %span.flash
                  %i.icon-info-circle{ class: key }= msg
      - if current_user
        .four.columns.alpha
          %ul.side-nav
            %li
              %a{ href: account_path, class: ('active' if current_controller?('users', 'show')) }
                %i.icon-home Dashboard
            %li
              %a{ href: edit_account_path, class: ('active' if current_controller?('users', ['edit', 'update'])) }
                %i.icon-cog Account
            %li
              %a{ href: locations_path, class: ('active' if current_controller?('locations')) }
                %i.icon-location Locations
        .twelve.columns.omega
          = yield
      - else
        = yield
      %footer.sixteen.columns.alpha
        Waitstaff is a service made with love. Thank you for using, cheers!