!!!
%html
  %head
    %meta{ charset:'utf-8' }
    %meta{ author: 'Skytroniks' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
    %title= page_title
    = stylesheet_link_tag('application')
    = javascript_include_tag('application')
  %body
    .container
      %header.sixteen.columns.alpha
        .eight.columns.alpha
          %h1
            = link_to(svg_tag('logo', 'Waitstaff'), root_path)
        %nav.eight.columns.omega
          %ul
            - if current_user
              %li
                = link_to(user_session_path, :method => :delete) do
                  %i.icon-logout Logout
            - else
              %li
                %a{ href: new_account_path }
                  %i.icon-user Register
              %li
                %a{ href: new_user_session_path }
                  %i.icon-login Login
            %li
              %a{ href: control_panel_path }
                %i.icon-desktop Restaurant Control
      - if !flash.empty?
        .sixteen.columns
          %ul.flashes
            - flash.each do |key, msg|
              %li
                %span.flash
                  %i.icon-info-circle{ class: key }= msg
      - if current_user
        .four.columns.alpha
          %ul.side-nav
            %li
              %a{ href: account_path, class: ('active' if current_controller?('users', 'show')) }
                %i.icon-home Dashboard
            %li
              %a{ href: edit_account_path, class: ('active' if current_controller?('users', ['edit', 'update'])) }
                %i.icon-cog Account
            %li
              %a{ href: locations_path, class: ('active' if current_controller?('locations') || current_controller?('days')) }
                %i.icon-location Locations
            %li
              %a{ href: categories_path, class: ('active' if current_controller?('categories') || current_controller?('items')) }
                %i.icon-food Menu
            %li
              %a{ href: option_groups_path, class: ('active' if current_controller?('option_groups') || current_controller?('options')) }
                %i.icon-list-alt Item options
        .twelve.columns.omega
          = yield
      - else
        = yield
      %footer.sixteen.columns.alpha
        Waitstaff is a service made with love. Thank you for using, cheers!