!!!
%html
  %head
    %meta{ charset:'utf-8' }
    %meta{ author: 'Skytroniks' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
    %title= page_title
    = stylesheet_link_tag('application')
    = javascript_include_tag('application')
  %body
    .container
      %header.sixteen.columns.alpha
        .eight.columns.alpha
          %h1
            = link_to(svg_tag('logo', 'Waitstaff'), current_restaurant ? orders_path : root_path)
        %nav.eight.columns.omega
          %ul
            - if current_restaurant
              %li
                = link_to(control_panel_path, :method => :delete) do
                  %i.icon-logout Logout
      - if !flash.empty?
        .sixteen.columns
          %ul.flashes
            - flash.each do |key, msg|
              %li
                %span.flash
                  %i.icon-info-circle{ class: key }= msg
      - if current_restaurant
        .four.columns.alpha
          %ul.side-nav
            %li
              %a{ href: orders_path, class: ('active' if current_controller?('orders')) }
                %i.icon-food Order Queue
            %li
              %a{ href: past_orders_path, class: ('active' if current_controller?('past_orders')) }
                %i.icon-clock Order History
        .twelve.columns.omega
          = yield
      - else
        = yield
      %footer.sixteen.columns.alpha
        Waitstaff is a service made with love. Thank you for using, cheers!